<div style="padding: var(--size-4);">
  <h1>KBD</h1>

  <h3 class="celestial-blue">Modifier Keys</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));">
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>CTRL</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>SHIFT</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>META</kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Alpha</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));">
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>A</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>S</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>D</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>F</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>G</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>H</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>J</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>K</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>L</kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Numbers</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));">
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>0</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>1</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>2</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>3</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>4</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>5</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>6</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>7</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>8</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>9</kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Multiple</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>CTRL + K</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>SHIFT + B</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>ALT + F5</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>RSHIFT + O</kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}>LCTRL + RSHIFT + Z</kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Arrows</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));">
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}><i class="ti ti-arrow-left"></i></kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}><i class="ti ti-arrow-right"></i></kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}><i class="ti ti-arrow-up"></i></kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}><i class="ti ti-arrow-down"></i></kbd>
    </div>
  </div>

  <hr class="surface-3"/>

  <h3 class="celestial-blue">Icons</h3>

  <div style="padding: var(--size-4); display: grid; gap: var(--size-4); grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));">
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}><i class="ti ti-brand-github"></i></kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}><i class="ti ti-brand-facebook"></i></kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}><i class="ti ti-brand-youtube"></i></kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}><i class="ti ti-brand-mastodon"></i></kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}><i class="ti ti-brand-windows"></i></kbd>
    </div>
    <div>
      <kbd {{#if modifier}}class="{{modifier}}"{{/if}}><i class="ti ti-key"></i></kbd>
    </div>
  </div>

</div>
