<div style="padding: var(--size-4);">
  <h1 {{#if modifier}}class="{{modifier}}"{{/if}}>H1 The quick brown fox jumps over the lazy dog</h1>
  <hr {{#if modifier}}class="{{modifier}}"{{/if}}>
  <h2 {{#if modifier}}class="{{modifier}}"{{/if}}>H2 The quick brown fox jumps over the lazy dog</h2>
  <hr {{#if modifier}}class="{{modifier}}"{{/if}}>
  <h3 {{#if modifier}}class="{{modifier}}"{{/if}}>H3 The quick brown fox jumps over the lazy dog</h3>
  <hr {{#if modifier}}class="{{modifier}}"{{/if}}>
  <h4 {{#if modifier}}class="{{modifier}}"{{/if}}>H4 The quick brown fox jumps over the lazy dog</h4>
  <hr {{#if modifier}}class="{{modifier}}"{{/if}}>
  <h5 {{#if modifier}}class="{{modifier}}"{{/if}}>H5 The quick brown fox jumps over the lazy dog</h5>
  <hr {{#if modifier}}class="{{modifier}}"{{/if}}>
  <h6 {{#if modifier}}class="{{modifier}}"{{/if}}>H6 The quick brown fox jumps over the lazy dog</h6>
</div>
